// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  width: 100vw;
  border: 1px solid black;
  border-radius: 5px;

  td{
    border-radius: 5px;
  }

  .topicRow{
    background-color: lightgrey;
  }
}
